ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: blue
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: purple;
}
body {
  background-color: darkred;
}
 .intro1{
  color:yellow;
  font-style: oblique;
}

video::-webkit-media-controls-play-button {
  background-color: orange;
  border-radius: 50%;
}


video::-webkit-media-controls-timeline {
  background-color: orange;
  padding:0px
}
video::-webkit-media-controls-volume-slider {
  background-color: orange;
  padding-top: 0;
  margin-top: 20px;
  padding-bottom: 0;
}



/*tthis piece of code is for video player */
li a {
 
  padding: 12px;
  display: block;
}
li a:hover {
  text-decoration: none;
}
video {
  width: 600px;
}
#playlist {
  width: 600px;
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
.active a {
  color: yellow;
  text-decoration: none;
}

/*tthis piece of code is for image slider */


